    <footer class="footer">
      <p class="m-0 text-center text-muted"> MIT Licensed | © 2024  <a href="/index">Anidex</a> | <a href="https://github.com/PSDat123/anidex/" target="_blank">Github</a>
    </footer>
    <script src="/scripts/switchTheme.js"></script>
  </body>
</html>