<%- include("./partials/header") %>
<div class="h-100 d-flex justify-content-center align-items-center flex-column">
  <h2>Internal Server Error</h2>
  <% if(message) { %>
  <h3><%= message %></h3>
  <% } %>
</div>
<%- include("./partials/footer") %>